/* colors */
$color-text: #ffffff;
$color-btn: #ffba00;
$color-page-bg: #3b4163;
$color-triangle: #4d69fa;
$color-content-bg: #f5f5f5;
$color-header-text: #53555d;
$color-missed-letter: #4d69fa;
$color-letter-box-active: #53555d;
$color-letter-box-inactive: #e6e6e7;

/* vars */
$border-radius: 5px;
/*default browser font size px*/
$browser-context: 16;